name: Next.js

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.2.0
        with:
          cache: npm
          node-version: 25.3.0
      - name: Install dependencies
        run: npm install
      - name: Lint project
        run: npm run lint

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.2.0
        with:
          cache: npm
          node-version: 25.3.0
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build
